RFC/RFC 2021-16/Mockup/6.mockup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="autor">
		<xs:complexType/>
	</xs:element>
	<xs:element name="bemerkung">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="bisType">
		<xs:sequence>
			<xs:element ref="datum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dateiRefType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="repraesentation" type="xs:string"/>
				<xs:attribute name="reihung" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="datenschutz" type="xs:boolean"/>
	<xs:element name="datum" type="xs:date"/>
	<xs:element name="dokument">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titel"/>
				<xs:element ref="autor"/>
				<xs:element ref="erscheinungsform"/>
				<xs:element name="entstehungszeitraum" type="entstehungszeitraumType"/>
				<xs:element ref="klassifizierungskategorie"/>
				<xs:element ref="datenschutz"/>
				<xs:element ref="oeffentlichkeitsstatus"/>
				<xs:element ref="oeffentlichkeitsstatusBegruendung"/>
				<xs:element ref="sonstigeBestimmungen"/>
				<xs:element ref="bemerkung"/>
				<xs:element name="zusatzDaten" type="zusatzDatenType"/>
				<xs:element name="dateiRef" type="dateiRefType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="entstehungszeitraumType">
		<xs:sequence>
			<xs:element name="von" type="vonType"/>
			<xs:element name="bis" type="bisType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="erscheinungsform" type="xs:string"/>
	<xs:element name="klassifizierungskategorie" type="xs:string"/>
	<xs:complexType name="merkmalType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="oeffentlichkeitsstatus" type="xs:string"/>
	<xs:element name="oeffentlichkeitsstatusBegruendung">
		<xs:complexType/>
	</xs:element>
	<xs:element name="sonstigeBestimmungen">
		<xs:complexType/>
	</xs:element>
	<xs:element name="titel" type="xs:string"/>
	<xs:complexType name="vonType">
		<xs:sequence>
			<xs:element ref="datum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zusatzDatenType">
		<xs:sequence>
			<xs:element name="merkmal" type="merkmalType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
