RFC/RFC 2021-16/Sample/CH-000076-6aip-01-0001821411-0001/metadaten/xsd/premis/STALU-premis-ex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex-stalu="http://www.scope.ch/ex/premis/stalu" targetNamespace="http://www.scope.ch/ex/premis/stalu" elementFormDefault="qualified">
	<xs:element name="Kompression" type="xs:string"/>
	<xs:element name="Farbtiefe" type="xs:string"/>
	<xs:element name="Aufloesung" type="xs:string"/>
	<xs:element name="Farbraum" type="xs:string"/>
</xs:schema>
